@charset "utf-8";
/* CSS Document */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input,em { margin: 0; padding: 0;color: #ffffff;}
body { font-size: 12px; line-height:2em; font-family:'Microsoft Yahei';background: #f1f5f8;}
ul, ol { list-style-type: none; }
select, input, img { vertical-align: middle; outline: none; border:none; }
a,a:hover{text-decoration: none; outline: none;color: #205081}
html { overflow-x: hidden; }
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.clear{ clear:both;}


/*顶部banner*/
.main {width: 100%;}
.banner {background:#5885B8;line-height: 90px;}
.banner_lf span {font-size: 36px;color: #ffffff}
.banner_lf img {width: 100%}
.banner_rt {text-align: right}
.banner_rt span {padding-right: 20px;font-size: 16px;}
.banner_rt span img {display: inline-block;width: 20px;height: 20px;margin-right: 10px}

/*导航*/
.navbar-default {background-color:#37496E}
.navbar-default .navbar-nav>li>a {font-size: 18px;color: #ffffff}
.navbar {border: none;margin-bottom: 0;border-radius: 0}
.navbar-default .navbar-nav>li>a {position: relative}
.navbar-nav>li a img {position: absolute;display: block;width:22px;height: 22px;top: 14px;left: 90px}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background-color:#37496E;color: #ffffff }
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:link {color: #ffffff}
.navbar-nav>li {margin-right: 8px}
#cur {background: #5DB8CF;color: #465D81;font-weight: bold}
.navbar-default .navbar-collapse {border: none}

.navbar-default .navbar-nav>li>a:hover {background: #5DB8CF}

.navbar-default .navbar-nav>li>a:focus {color: #ffffff}
.navbar-default .navbar-nav>li>a {outline: none}

@media (min-width: 320px) and (max-width: 414px) {
    .banner {line-height: 60px}
}
@media (max-width: 320px) {
    .banner_lf span {font-size: 30px}
}
@media (max-width: 767px) {
    .navbar-nav {text-align: center}
    .navbar-nav>li a img {display: inline-block;position: absolute;top: 10px;left: -12px}
    .navbar-default .navbar-nav>li>a {display: inline-block;position: relative}
    #cur {width: 100%}
    .navbar-nav>li {margin-right: 0}
}

/*中间banner*/
.middle_banner {width: 100%;background:url("../images/banner_bg.png")no-repeat;text-align: center;}
.middle_banner h1 {font-size:72px;line-height: 108px;color: #ffffff;padding-top: 50px}
.middle_banner p {font-size: 48px;color: #ffffff;line-height: 70px}
.middle_banner span {font-size: 18px;color: #ffffff}
.middle_banner a img {display: block;width: 176px;height: 176px;margin: 14px auto 97px}
@media (max-width: 414px) {
    .middle_banner h1 {font-size:28px;line-height: 70px;padding-top: 20px}
    .middle_banner p {font-size: 24px;line-height: 40px}
}
@media (min-width: 414px) {
    .middle_banner {background-size:1920px 620px;}
}


/*大会亮点*/
.main_content {width: 100%;background:#f1f5f8;}
.section_meet_point {background: #ffffff;height: 100%;position: relative;top: -80px;box-shadow:0 1px 3px #ccc;overflow: hidden}
.section_meet_point p {font-size: 16px;color: #6C7FA6;line-height: 24px;padding:50px 50px 24px 50px}
.meet_point_des {padding:0 50px 0 60px}
.meet_point_des a {font-size: 16px;color: #6C7FA6;line-height: 24px;padding-bottom: 10px;text-decoration: none}
.meet_point_des a:hover {text-decoration: underline;color: #3371B8}
.meet_title {font-size: 36px;line-height:50px;color:#5885B8;margin-top:40px;background: url("../images/title-background.png")no-repeat;background-size: 144px 50px;background-position:20px 1px;margin-left: 50px}
.point_list {margin-top: 25px}
.point_list li {background: #F0B400;color: #ffffff;text-align: center;font-size: 34px;font-weight: bold;line-height: 44px;position: relative}
.point_list li span {display: block;padding: 102px 0}


.point_list li:nth-child(2) {font-size: 34px;line-height: 44px}

.point_list li:nth-child(2) > span {/*padding:94px 0 96px 0*/padding: 102px 0}


.point_list li:nth-child(1) {background: #3293ED url("../images/meet_point_icon1.png")no-repeat;background-size: 100% 100%}
.point_list li:nth-child(3) {background: #44C79D url("../images/meet_point_icon4.png")no-repeat;background-size: 100% 100%}
.point_list_title {display: none;}
.point_list_title h3 {font-size: 24px;color:#37496E;line-height: 30px;padding-left: 40px;font-weight: bold;padding-top: 50px;clear: both}
.point_list_title strong {font-size: 18px;line-height: 24px;color:#6C7FA6;margin: 14px 0 73px 32px;display: block}
.point_list li img {position: absolute;width: 36px;height: 18px;display: none;left: 120px}
.triangle-up {
    width:0;
    height:0;
    border:21px solid transparent;
    border-bottom-color:#0066cc;
}
.triangle-down {
    width:0;
    height:0;
    border-left:21px solid transparent;
    border-right:22px solid transparent;
    border-top:22px solid #ffffff;
}
.right_top {position: absolute;top: -11px;right: 0;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);transform:rotate(-135deg);-ms-transform:rotate(-135deg);}

#blue_content {display: block}
.meet_point_mobile span {color:#666;font-size: 20px}
.meet_point_mobile strong {font-size: 14px;color: #666;line-height: 23px;font-weight: normal;padding: 5px 0;display: block}
.meet_point_mobile span {margin-top: 20px}
.meet_point_item1 {background: #ececec;padding: 20px;margin-top: 20px}
.meet_point_item2 {background: #ffffff;padding: 20px;}
.meet_point_mobile {display: none}

.point_banner01 {background:#3293ED url("../images/meet_point_icon1.png")no-repeat;background-size: 100% 100%;text-align: center;font-size: 30px;font-weight: bold;line-height: 44px;margin-bottom: 20px;position: relative}
.point_banner01 span {display: block;padding: 65px 0;color: #ffffff;}
#green_banner {background: #44C79D url("../images/meet_point_icon4.png")no-repeat;background-size: 100% 100%;position: relative}

@media (max-width: 414px) {
    .meet_title {margin-left: 0;text-align: center;background-position: center;}
    #check_more_mobile  {text-align: right;margin: 0 15px 20px 0}
}

@media (max-width: 320px) {
    .point_list_title h3 {padding-left: 20px}
    .point_list_title strong {margin-left: 20px;text-align: left}
}
@media (max-width: 768px) {
    .point_list {display: none}
    #blue_content {display: none}
    .meet_point_mobile {display: block}
    .meet_point_mobile span {padding-top: 50px}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .point_list li:nth-child(2) > span {padding: 58px 0 30px 0}
}


/*大会日程预览*/
.meet_preview {background: #ffffff;box-shadow:0 1px 3px #ccc;overflow: hidden;position: relative;top: -40px;}
.table_title tr th {font-size: 17px;color: #ffffff;text-align: center;height: 40px;line-height: 40px;background:#5885B8;border-right: 2px solid #ffffff;font-weight: normal}
/*.table_title tr th:nth-child(1) {background: #37496E;}*/
.meet_title {margin-bottom: 25px}
.table_boy {text-align: left;font-size: 16px;line-height: 20px;background: url("../images/table_bg.png")repeat}
.table_boy tr td {color: #6C7FA6;height:62px;border-right: 2px solid #ced8e1;position: relative;}
.table_boy tr td:last-child {border-right: none}
.table_boy tr td span {display: inline-block;margin-left:42px}
.table_boy tr:nth-child(even) >td {background:#f2f5fa url("../images/table_bg.png")repeat}
.table_boy tr td a img {display: inline-block;width: 20px;height: 20px;float: right;margin-right: 30px}
.table_date {color:#5885B8;font-size: 30px;font-weight: bold;background:#E9F1F8 url("../images/table_bg.png")repeat;text-align: center}
.last_line td {border-bottom: 2px solid #ced8e1;}
.pops_box {position: absolute;z-index: 999;right: 0;top: 49px;display: none;background: #ffffff;font-size: 16px;color:#2d3246;padding: 20px;border: 1px solid #cedcec;border-radius: 3px;text-align: justify;}
.pops_box img {position: absolute;top: -7px;right: 49px;width: 12px}


.meet_preview_mobile {display: none}
.index-mobile-ctcc strong {font-size: 14px;color: #666}
.index-mobile-ctcc p {font-size: 14px;color:#6C7FA6;display: inline-block;font-weight: bold}
.ctcc-item1 {padding: 10px;background-color:#ececec}
.ctcc-item2 {padding: 10px;background-color:#fff}
.index-mobile-ctcc {color: #666;font-size: 14px}


@media (max-width: 414px) {
    .table_boy tr td span {margin-left: 0}
    .table_boy tr td a img {margin-right: 0}
}
@media (max-width: 640px) {
    .buy_ticket_suspend {display: none}
    .meet_preview_mobile {display: block;position: relative;top: -40px;background: #ffffff;box-shadow:0 1px 3px #ccc;overflow: hidden;}
    .meet_preview {display: none}
    .special_commend {clear: both}
}


/*特别推荐*/
.special_commend {background: #ffffff;box-shadow:0 1px 3px #ccc;overflow: hidden;}
.commend_left p {font-size: 16px;line-height: 24px;color:#6C7FA6;padding-bottom: 20px;padding-left:50px;text-align: justify}
.commend_left {margin-right: 83px}
.table_boy_commend tr td {font-size:14px;line-height: 17px;color:#37496E;text-align: center;background: url("../images/table_bg.png")repeat}
.table_boy_commend tr td em {color:#6C7FA6;font-style: normal}
.table_boy_commend tr:nth-child(1)>td {height:75px;font-size: 30px;line-height: 36px;color: #5885B8}
.table_boy_commend tr:nth-child(2)>td {height: 150px}
.table_boy_commend tr:nth-child(3)>td {height: 45px}
.table_boy_commend tr:nth-child(4)>td {height: 114px}

.Commend_first span{font-size: 17px;line-height: 21px;color:#37496E;font-weight: bold;display: inline-block;float: left;margin-left: 10px;margin-top:39px}

.Commend_first em {font-size: 14px;line-height: 20px;color: #6C7FA6;float: right;margin-top: 39px}
.under_line {border-bottom: 2px solid #d1dfe8;clear: both;width: 200px;padding-top: 15px}
.commend_second span {color: #37496E;font-size: 17px;font-weight: bold;display: inline-block;margin-top: 14px;margin-left: 10px}
.commend_second em {font-size: 14px;color:#6C7FA6;line-height: 20px;margin-top: 12px;margin-left: 10px}
.commend_right_mobile {display: none}
.table_boy_commend_middle {background: #f2f5fa}
#table_data_Commend {background: #E9F1F8 url("../images/table_bg.png")repeat}


@media (max-width: 768px) {
    .commend_left p {padding: 0 20px 20px 20px}
    .table_boy_commend tr td em {margin-right: 20px}
}
@media (min-width: 320px) and (max-width: 375px) {
    .table_boy_commend tr td em {margin-right: 40px;margin-left: 0}
}

@media (max-width: 640px) {
    .commend_right_mobile {display: block}
    .commend_right {display: none}

}


/*演讲嘉宾*/
.guest_speaker,.join_meeting,.Traffic_guide,.Sponsorship {background: #ffffff;box-shadow:0 1px 3px #ccc;overflow: hidden;margin-top: 40px}
.guest_speaker h2,.guest_speaker a {display: inline-block}
.check_more {float: right;margin-top: 63px;margin-right:-76px;font-size: 14px;line-height: 20px;color: #5885B8;text-decoration: none }

.speaker_list {clear: both;overflow: hidden}
.speaker_content {float: left;margin-right: 15px;margin-bottom: 15px}
.speak_user a{display: block;float: left;}
.speak_user_des {float:left;background:#f2f5fa;width: 191px;height: 190px;text-align: center;}
.speak_user_des h4 {font-size:24px;line-height: 33px;font-weight: bold;color:#6C7FA6;padding-top: 47px}
.speak_user_des span {color:#6C7FA6;font-size: 18px;padding-top: 14px;display: block}
.right_clear {margin-right: 0}
.bottom_clear {margin-bottom: 0}

@media (max-width: 768px) {
    .speak_user_des {width: 171px;}
    .right_clear {margin-right: 15px}
    .bottom_clear {margin-bottom: 15px}
}
@media (min-width: 375px) and (max-width: 414px) {
    .speaker_content {margin-left: 26px}
}
@media (min-width: 320px) and (max-width: 375px) {
    .speak_user a img {width: 160px;}
    .speak_user_des {width: 160px;height: 160px}
}
@media (max-width: 320px) {
    .speaker_content {margin-left: 0;margin-right: 0}
}

/*注册参会*/
.join_list li {text-align: center;background: #4586D1;}
.join_list li h4 {font-size: 36px;line-height: 46px;color: #ffffff;margin-top: 47px}
.join_list li span {font-size: 17px;line-height: 30px;color: #ffffff;display: block;}
.ticket {margin-top: 19px}
.Price_off {margin-top:36px}
.Price_off b {font-size: 40px;font-weight: bold}
.price_delete {text-decoration: line-through}
.join_list li a {display: block;width: 140px;height: 43px;background:#D67900;color: #ffffff;margin: 40px auto;text-decoration: none;-webkit-transform:skew(-15deg);-moz-transform:skew(-15deg)}
.join_list li a span {-webkit-transform:skew(15deg);-moz-transform:skew(15deg);font-size: 20px;text-align: center;line-height: 43px;}

/*交通指南*/
.traffic_right img {width: 100%;height: 490px}
.traffic_content li a {display: block;width: 62px;height: 62px;background:#DAE9F7;border-radius: 50%;margin-right: 10px}
.traffic_content li {overflow: hidden;margin-left: 42px;padding-bottom:36px}
.traffic_des h3 {font-size: 20px;line-height: 25px;color: #575979;font-weight: bold;padding-bottom: 10px}
.traffic_des p {font-size: 14px; line-height: 18px;color: #6C7FA6;text-align: left}
@media (max-width: 414px) {
    .traffic_right img {height: auto}
}

/*合作赞助*/
.Sponsorship h3 {font-size: 22px;line-height: 30px;color: #9B9B9B;margin-left: 35px;margin-bottom: 30px}
.Sponsorship_content {margin-left: 35px}
.Sponsorship_content li {margin-bottom: 50px;float: left;margin-right: 26px}
.Sponsorship_content li a {display: block;border:1px solid #ddd;width: 156px;height: 74px;}
.Sponsorship_content li a img {width: 100%;height: 100%}
@media (min-width: 320px) and (max-width: 375px) {
    .Sponsorship_content {margin-left: 15px}
    .Sponsorship_content li {margin-right: 9px}
}
@media (max-width: 320px) {
    .Sponsorship_content li a {width: 128px}
    .Sponsorship_content li {margin-bottom: 15px}
    .Sponsorship h3 {margin-top: 30px}
}

/*底部banner*/
.bottom_banner {background: url("../images/bottom_banner.png")no-repeat;margin-top: 40px;text-align: left;margin-bottom: 50px;background-size: 100% 100%}
.bottom_banner p {font-size: 18px;line-height: 26px;color: #ffffff;margin: 40px 0 50px 0}
.bottom_banner_icon {margin:40px 0 50px 0;text-align: right}
.bottom_banner_icon img {width: 187px;height: 78px}
#contact_us_first {margin-left: 40px}

@media (max-width: 414px) {
    .bottom_banner {text-align: center;background:url("../images/bottom_banner_640.png")no-repeat}
    #contact_us_first,#contact_us_iPad {margin-left: 0;text-align: center}
    .bottom_banner p {margin-bottom: 15px;font-size: 14px;line-height: 23px;margin-top: 20px}
    .bottom_banner_icon {text-align: center;margin:10px 0 35px 0}
    .bottom_banner_icon img {display: inline-block;width: 30%;height: 30%}
    #bottom_banner_nav .col-xs-4 {
        padding-left: 0;
        padding-right: 0;
    }
}



@media (min-width: 415px) and (max-width: 768px) {
    .bottom_banner {text-align: center}
    #contact_us_iPad {margin-left: 40px}
    .bottom_banner_icon {text-align: center}
    .bottom_banner p {margin-bottom: 15px}
}

/*悬浮*/
.buy_ticket_suspend {position: fixed;z-index: 900;right: 50px;bottom: 40px;display: none}
.buy_ticket_suspend img {display: block;width: 176px;height: 176px}
.buy_ticket_suspend img:nth-child(3){width:48px;height: 48px}
.backtotop img {display:none;width: 48px;height: 48px;margin: 0 auto 20px}

.suspend_small_icon {display: block;width: 48px;height: 48px;background: gray;border-radius: 50%;margin: 0 auto;margin-top: 20px;text-align: center;line-height: 45px}
.suspend_small_icon img {width: 26px;height: 26px;display: inline-block}
.big_code {width: 192px;height:192px;border: none;display: block;line-height: 176px;text-align: center}
.big_code img {width: 100%}

/*二级嘉宾详情*/
.guest_detail {width: 100%;background: #f1f5f8;}
.guest_detail h2 {font-size: 36px;line-height:50px;color:#5885B8;margin-top:25px;background: url("../images/title-background.png")no-repeat;background-size: 144px 50px;background-position:20px 1px;margin-left: 50px}
.guest_detail_title {font-size: 24px;line-height: 33px;color: #5885B8;margin-top: 34px}
.guest_detail_content_lf {clear: both;margin: 54px 0 0 20px}
.guest_detail_content_lf img {width: 100%}
.guest_detail_content_rt {margin-top: 54px}
.guest_detail_content_rt h3 {font-size: 24px;line-height: 33px;color:#6C7FA6;}
.guest_detail_content_rt span {font-size: 18px;color: #5885B8;line-height: 25px;margin: 16px 0 20px 0;display: block}
.guest_detail_content_rt p {font-size: 16px;line-height: 24px;color:#6C7FA6;margin: 51px 0 70px 0;text-align: justify}
.bottom_line {border-bottom: 1px solid #d5d8e1}
.guest_second_title {overflow: hidden;margin-bottom: 24px}
.guest_second_title span {margin-top: 0;margin-bottom: 0;font-size: 16px;line-height: 30px;color:#37496E;font-weight: bold;}
.guest_second_title h3 {font-size: 16px;line-height: 30px;color:#5885B8;background: url("../images/title-background.png")no-repeat;background-size: 64px 30px;background-position:20px 1px;}
.guest_detail_content {background: #ffffff;box-shadow:0 1px 3px #ccc}

@media (max-width: 414px) {
    .guest_detail h2 {text-align: center;margin-left: 0;background-position: center}
    .guest_detail_title {text-align: center}
    .guest_second_title h3 {text-align: center;background-position: center}
    .guest_second_title span {margin-top: 15px}
}

/*二级嘉宾*/
.second_guest_content ,.second_schedule_content{background: #ffffff;box-shadow:0 1px 3px #ccc}
.select_title {margin-bottom:23px;margin-top: 30px}
.select_title_01 {display: inline-block;font-size: 24px;line-height: 70px;color:#5885B8;height: 70px;text-align: center;text-decoration: none;border-right: 2px solid #ffffff;background: #F7F9FC;position: relative}
.select_title a {text-decoration: none}

.select_title a:hover {background:#DFE9F5 }


.select_content h2 {font-size: 36px;line-height:50px;color:#5885B8;margin-top:25px;background: url("../images/title-background.png")no-repeat;background-size: 144px 50px;background-position:20px 1px;margin-left: 50px}
#select_content_left,#select_content_second,#select_content_second_02,#select_content_left_02,#select_content_second_03,#select_content_left_03,#select_content_left_mobile,#select_content_second_mobile {margin-left: 35px;margin-bottom: 25px}

.triangle-down_01 {
    position: absolute;
    bottom: -11px;
    left: 180px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #DFE9F5;
}
.second_guest_mobile {display: none}
.guest_section_title {font-size: 24px;line-height: 70px;color:#5885B8;height: 70px;text-align: center;}
.second_guest_mobile h2 {font-size: 36px;line-height:50px;color:#5885B8;margin-top:25px;background: url("../images/title-background.png")no-repeat;background-size: 144px 50px;background-position:center;text-align: center}
.second_guest_mobile p {font-size: 24px;line-height: 33px;color: #5885B8;margin-top: 15px;text-align: center}
.speak_user_second a img {width: 100%}
.speak_user_second {overflow: hidden;margin-bottom: 15px}
.speaker_content_mobile {margin-top: 20px;}
.speak_user_des_mobile h4 {font-size: 24px;line-height: 33px;font-weight: bold;color:#6C7FA6;}
.speak_user_des_mobile {background:#f2f5fa;text-align: center;height:auto;}
.speak_user_des_mobile span {font-size: 18px;color: #6C7FA6;}

@media (max-width: 768px) {
    .triangle-down_01 {left: 106px;}
}

@media (min-width: 769px) {
    .speaker_content:nth-child(3),.speaker_content:nth-child(6) {margin-right: 0}
}

@media (max-width: 414px) {
    .second_guest {display: none}
    .second_guest_mobile {display: block}
    body {background: #ffffff}
    .speak_user {margin-bottom: 15px;overflow: hidden}
    .speak_user_des_mobile span {;display:block;padding-bottom: 41px}
    .speak_user_des_mobile h4 {margin-top: 40px}
}

@media (min-width: 320px) and (max-width: 375px) {
    .speak_user_des_mobile h4 {margin-top: 22px}
}

@media (max-width: 320px) {
    .speak_user_des_mobile span {padding-bottom: 13px}
    .speak_user_des_mobile h4 {margin-top: 22px}
}


/*二级日程*/
.schedule_table_content h2 {font-size: 36px;line-height:50px;color:#5885B8;margin-top:25px;background: url("../images/title-background.png")no-repeat;background-size: 144px 50px;background-position:20px 1px;text-align: left;margin-left:50px;margin-bottom: 28px}
.schedule_table_content span {font-size: 17px;line-height: 28px;color:#6C7FA6;display: block;margin-left: 50px}
.schedule_table_title tr th {font-size:17px;line-height: 40px;height: 40px;background: #5885B8;text-align: center;border-right: 2px solid #ffffff;font-weight: normal}
.schedule_table {margin-top: 50px}
.schedule_table_content tr td {font-size:16px;line-height: 62px;color: #6C7FA6;height: 62px;text-align: center;border-right: 2px solid #ffffff}
.schedule_table_content tr td span {text-align: left;margin-left: 69px}
.schedule_table_content tr {background: url("../images/table_bg.png")repeat}
.schedule_table_content tr:nth-child(even) {background: #f2f5fa url("../images/table_bg.png")repeat}
.second_schedule_mobile {display: none}
.schedule_table_mobile span {font-size: 14px;color:#6C7FA6;font-weight: bold}
.schedule_table_mobile span b {color:#666}
.table_sc_01 {background: #ececec;padding: 10px}
.table_sc_02 {background: #ffffff;padding: 10px}

@media (max-width: 414px) {
    .second_schedule_mobile {display: block}
    .second_schedule {display: none}
    .schedule_table_content h2 {margin-left: 0;text-align: center;background-position:center}
    .schedule_table_content span {margin-left: 0}
}


.change_bg {background:#DFE9F5}


